@import '~@angular/material/theming';
@import "../../styles/variables";

.optim-category {
  display: flex;
  padding: 50px 0 0 0;

  &__card {
    margin: 30px auto 0 auto;

    .mat-list-base {
      padding-top: 12px;
    }

    .mat-list-item {
      &:hover {
        background: $background;
        cursor: pointer;
      }

      .mat-list-icon {
        text-align: center;
      }

      .mat-line {
        font-weight: bolder;
      }
    }

    .mat-card-header {
      align-items: center;
      color: mat-color($primary);

      .mat-card-title {
        margin: 0;
      }

      .mat-card-avatar {
        width: 3em;
        text-align: center;
      }

      .mat-divider {
        margin-top: 25px;
      }
    }
  }
}
