<div class="optim-category">
  <mat-card class="optim-category__card">
    <mat-card-header>
      <img mat-card-avatar [src]="'assets/' + categoryIcon" [attr.alt]="categoryTitle">
      <mat-card-title>{{ categoryTitle }}</mat-card-title>
    </mat-card-header>

    <mat-card-header>
      <mat-divider></mat-divider>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item
            *ngFor="let category of subcategories"
            matRipple
            (click)="openDialog(category)"
        >
          <span mat-list-icon>
            <fa-icon [icon]="['fas', 'info-circle']" size="xs"></fa-icon>
          </span>
          <div class="optim-category__item">{{category}}</div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
