<div class="optim-about">

<!--  <mat-card class="optim-about__company-motto">-->
<!--    <mat-card-content>-->
<!--      <div class="optim-about__headline">-->
<!--        <strong>Optim Family Office</strong> - оптимизация финансовых решений для частных лиц, предпринимателей и-->
<!--        компаний-->
<!--      </div>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->

  <div class="optim-about__content">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="assets/brand-awareness.svg" alt="">
<!--        <div mat-card-avatar>-->
<!--          <fa-icon [icon]="['fas', 'user-tie']" size="3x" class="optim-about__icon"></fa-icon>-->
<!--        </div>-->
        <mat-card-title>О нас</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Компанию основал Евгений Шумячкин, он же руководит компанией.
        </p>
        <p>
          Евгений, обладающий обширными знаниями и опытом на рынке капитала, ранее работал старшим консультантом по
          инвестициям клиентов в Bank Yahav.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="assets/legal-paper.svg" alt="">
<!--        <div mat-card-avatar>-->
<!--          <fa-icon [icon]="['fas', 'award']" size="3x" class="optim-about__icon"></fa-icon>-->
<!--        </div>-->
        <mat-card-title>Образование</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>
            BA экономика и менеджмент, Университет Бен-Гуриона в Негеве
          </li>
          <li>
            MBA, Колледж менеджмента
          </li>
          <li>
            Лицензия агента по пенсионному страхованию от Минфина.
          </li>
          <li>
            Опыт в работе с управлением портфелем ценных бумаг.
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <!--  <mat-card class="optim-about__company-motto">-->
  <!--    <mat-card-content>-->
  <!--      <div class="optim-about__warn">-->
  <!--        Оптимальные решения для всех Ваших потребностей.-->
  <!--        Создаём среду для наших клиентов, в которой они получат лучший и наиболее подходящий ответ на свои финансовые-->
  <!--        потребности!-->
  <!--      </div>-->
  <!--    </mat-card-content>-->
  <!--  </mat-card>-->

  <div class="optim-about__content-mission">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="assets/mission.svg" alt="">
        <mat-card-title>Миссия компании</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Компания <strong>Optim Family Office</strong> прилагает много усилий для достижения долгосрочных результатов.
          В рамках этой концепции наша компания анализирует, кто является лидером на рынке, как с точки зрения
          финансовых результатов, так и с точки зрения обслуживания и профессионализма, и предоставляет их своим клиентам.
        </p>
        <p>
          <strong>Optim Family Office</strong> оказывает клиенту консультирование и представительство его финансовых интересов в разных сферах деятельности.
          Индивидуальный подход к каждому клиенту, учитывая специфику бизнеса, сложность ситуации и определенных требований.
        </p>
        <br>
        <p>
          <strong>Optim Family Office</strong> гарантирует конфиденциальность, профессионализм и высокий уровень ответственности!
        </p>
      </mat-card-content>
    </mat-card>

    <!--    <mat-card>-->
    <!--      <mat-card-header>-->
    <!--        <div mat-card-avatar>-->
    <!--          <fa-icon [icon]="['fas', 'receipt']" size="3x" class="optim-about__icon"></fa-icon>-->
    <!--        </div>-->
    <!--        <mat-card-title>Миссия компании</mat-card-title>-->
    <!--      </mat-card-header>-->
    <!--      <mat-card-content>-->
    <!--        <p>-->
    <!--          <strong>Optim Family Office</strong> предлагает финансовые и страховые решения для широкой аудитории страхователей.-->
    <!--          Компания имеет относительное преимущество в области финансов и страхования, уделяя особое внимание предоставлению-->
    <!--          объективных, профессиональных и личных услуг, учитывающих потребности и цели клиента.-->
    <!--        </p>-->
    <!--      </mat-card-content>-->
    <!--    </mat-card>-->
  </div>
</div>
