<div class="optim-about">

  <mat-card class="optim-about__company-motto">
    <mat-card-content>
      <div class="optim-about__headline">
        Optim Financial Solutions - частная компания, обслуживающая лояльных клиентов по всей стране.
      </div>
    </mat-card-content>
  </mat-card>

  <div class="optim-about__content">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <fa-icon [icon]="['fas', 'user-tie']" size="3x" class="optim-about__icon"></fa-icon>
        </div>
        <mat-card-title>О нас</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Компанию основал Евгений Шумячкин, он же руководит компанией.
          Евгений, обладающий обширными знаниями и опытом на рынке капитала, ранее работал старшим консультантом по
          инвестициям клиентов в Bank Yahav.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <fa-icon [icon]="['fas', 'award']" size="3x" class="optim-about__icon"></fa-icon>
        </div>
        <mat-card-title>Образование</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Бакалавр экономики и делового администрирования, Университет Бен-Гуриона в Негеве MBA в области делового
          администрирования Колледжа менеджмента.
          Лицензия агента по пенсионному страхованию от Минфина.
          Лицензия на управление портфелем (приостановлена) от имени Управления ценных бумаг.
          <mark>
            Может лучше написать так: "Опыт в работе с управлением портфелем ценных бумаг."?
          </mark>
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="optim-about__company-motto">
    <mat-card-content>
      <div class="optim-about__warn">
        Создаём среду для наших клиентов, в которой они получат лучший и наиболее подходящий ответ на свои финансовые
        потребности!
      </div>
    </mat-card-content>
  </mat-card>

  <div class="optim-about__content">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <fa-icon [icon]="['fas', 'receipt']" size="3x" class="optim-about__icon"></fa-icon>
        </div>
        <mat-card-title>Цель компании</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Компания Optim Financial Solutions прилагает много усилий для достижения долгосрочных результатов.
          В рамках этой концепции наша компания анализирует, кто является лидером на рынке, как с точки зрения финансовых
          результатов, так и с точки зрения обслуживания и профессионализма, и продает их своим клиентам.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <fa-icon [icon]="['fas', 'file-invoice']" size="3x" class="optim-about__icon"></fa-icon>
        </div>
        <mat-card-title>Виденье компании</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Optim предлагает финансовые и страховые решения для широкой аудитории страхователей.
          Компания имеет относительное преимущество в области финансов и страхования, уделяя особое внимание предоставлению
          объективных, профессиональных и личных услуг, учитывающих потребности и цели клиента.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
