<div class="optim-contact">
  <h2>Свяжитесь с нами! Будем рады помочь Вам</h2>
  
  <div class="optim-contact__content">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <fa-icon [icon]="['fas', 'phone-square-alt']" size="3x" class="optim-contact__icon"></fa-icon>
        </div>
        <mat-card-title>
          <a href="tel:+972 77-527-9557">+972 77-527-9557</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <fa-icon [icon]="['fas', 'envelope-open-text']" size="3x" class="optim-contact__icon"></fa-icon>
        </div>
        <mat-card-title>
          <a href="mailto:office@optim-fo.co.il">office@optim-fo.co.il</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>

  <div class="optim-contact__form">
    <mat-card>
      <app-feedback></app-feedback>
    </mat-card>
  </div>
</div>
