@import '~@angular/material/theming';
@import "../../styles/variables";
@import "../../styles/media_queries_mixins";

.optim-contact {
  padding: 40px;
  text-align: center;

  &__content {
    column-gap: 10px;
    display: inline-flex;
  }

  &__form {
    margin: 20px auto;
    text-align: initial;
    max-width: 500px;
  }
}

.mat-card-header {
  align-items: center;
  color: mat-color($primary);

  .mat-card-title {
    margin: 0;
  }
}

/* Media queries */
@include media-breakpoint-down(sm) {
  .optim-contact {
    padding: 20px;

    &__content {
      display: grid;
      row-gap: 20px;
    }
  }
}
