@import '~@angular/material/theming';
@import "../../styles/variables";

.optim-contact {
  padding: 40px;
  text-align: center;

  &__content {
    column-gap: 10px;
    display: inline-flex;
  }

  &__form {
    margin: 20px auto;
    text-align: initial;
    max-width: 500px;
  }
}

.mat-card-header {
  align-items: center;
  color: mat-color($primary);

  .mat-card-title {
    margin: 0;
  }
}
