@import 'variables';

html, body {
  height: 100%;
}

body {
  background-color: $background;
  margin: 0;
  font-family: Manrope, "Helvetica Neue", sans-serif;
}

* {
  outline: none;
}

.optim-menu-xs {
  width: 100%;
}

.mat-menu-panel {
  width: 100%;
  max-width: unset !important;
  margin-top: 30px;
}
