@import '~@angular/material/theming';
@import "variables";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import 'https://fonts.googleapis.com/css?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import "~fontsource-manrope/index.css";

$fontConfig: (
    display-4: mat-typography-level(112px, 112px, 300, Manrope, -0.0134em),
    display-3: mat-typography-level(56px, 56px, 400, Manrope, -0.0089em),
    display-2: mat-typography-level(45px, 48px, 400, Manrope, 0.0000em),
    display-1: mat-typography-level(34px, 40px, 400, Manrope, 0.0074em),
    headline: mat-typography-level(24px, 32px, 400, Manrope, 0.0000em),
    title: mat-typography-level(20px, 32px, 500, Manrope, 0.0075em),
    subheading-2: mat-typography-level(16px, 28px, 400, Manrope, 0.0094em),
    subheading-1: mat-typography-level(15px, 24px, 500, Manrope, 0.0067em),
    body-2: mat-typography-level(14px, 24px, 500, Manrope, 0.0179em),
    body-1: mat-typography-level(14px, 20px, 400, Manrope, 0.0179em),
    button: mat-typography-level(14px, 14px, 500, Manrope, 0.0893em),
    caption: mat-typography-level(12px, 20px, 400, Manrope, 0.0333em),
    input: mat-typography-level(inherit, 1.125, 400, Manrope, 1.5px)
);

// Compute font config
@include mat-core($fontConfig);

// Theme Init
@include angular-material-theme($theme);

.theme-alternate {
  @include angular-material-theme($altTheme);
}

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';

  .mat-badge-content {
    font-family: Manrope;
  }
}

a {
  text-decoration: none;
  color: unset;
}
