<div class="optim-main">
  <mat-card class="optim-main__card">
    <mat-card-content>
      <button mat-raised-button
              color="primary"
              *ngFor="let category of categories"
              [routerLink]="category.link"
      >
        <span class="optim-main__icon">
          <img [src]="'assets/' + category.icon" [attr.alt]="category.title">
        </span>
        <span class="optim-main__category-title">
          {{ category.title }}
        </span>
      </button>
    </mat-card-content>
  </mat-card>
</div>
