@import "../../styles/variables";
@import "../../styles/media_queries_mixins";

.optim-main {
  display: flex;
  padding: 50px 0 0 0;

  &__card {
    margin: 30px auto 0 auto;

    .mat-card-content {
      display: inline-grid;
      row-gap: 20px;
      padding: 40px;
      text-align: center;
    }

    .mat-primary {
      padding: 20px;
    }
  }

  &__icon {
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    width: 4em;
    height: 4em;
    padding: 0.6em;
    align-items: center;
    text-align: center;
    line-height: 5em;
    //background: rgba(255, 255, 255, 0.3);

    img {
      height: inherit;
    }
  }

  &__category-title {
    font-size: 2em;
    display: block;
    white-space: normal;
  }
}


/* Media queries */
@include media-breakpoint-down(sm) {
  .optim-main {
    &__category-title {
      font-size: 1.5em;
    }
    &__card {
      .mat-card-content {
        padding: 20px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .optim-main {
    padding: 10px 0;
    &__card {
      margin: 10px auto;
    }
  }
}
