<!--Header-->
<mat-toolbar color="primary" class="optim-header">
  <div class="optim-header__mail" matRipple matRippleColor="#ff397277">
    <button mat-stroked-button color="warn" matRipple [matRippleDisabled]="true" (click)="openDialog()">
      <fa-icon [icon]="['fas', 'envelope']" size="2x"></fa-icon>
    </button>
  </div>
  <a href="tel:+972 77-527-9557" class="optim-header__phone">
    <div class="optim-header__phone-link" matRipple matRippleColor="#5177ff77">
      <button mat-stroked-button color="primary">
        <fa-icon [icon]="['fas', 'phone-alt']" size="2x"></fa-icon>
      </button>
    </div>
    <div class="optim-header__phone-number-link" *ngIf="!isMobile">
      <button mat-flat-button color="warn">
        +972 77-527-9557
      </button>
    </div>
  </a>
</mat-toolbar>
<mat-toolbar color="basic" class="optim-menu">
  <div class="optim-menu__info">
    <div class="optim-menu__logo" routerLink="/">
      <img src="assets/logo.svg" alt="Optim">
      <div class="optim-menu__logo-block">
        <div class="optim-menu__logo-text">Optim</div>
        <div class="optim-menu__logo-text-sm">Family Office</div>
      </div>
    </div>
    <div *ngIf="isMobile || isTablet; else nonMobile" class="optim-menu__list-xs">
      <button mat-button color="primary" [matMenuTriggerFor]="menu">
        <fa-icon [icon]="['fas', 'bars']" size="2x"></fa-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div mat-menu-item class="optim-menu__item-xs" routerLink="about" routerLinkActive="active">
          О нас
        </div>
        <mat-divider></mat-divider>
        <div mat-menu-item class="optim-menu__item-xs" [routerLinkActiveOptions]="{ exact: true }" routerLink="/"
             routerLinkActive="active">
          Услуги
        </div>
        <mat-divider></mat-divider>
        <div mat-menu-item class="optim-menu__item-xs" routerLink="contact" routerLinkActive="active">
          Контакты
        </div>
      </mat-menu>
    </div>
    <ng-template #nonMobile>
      <div class="optim-menu__list">
        <span class="optim-menu__item" routerLink="about" routerLinkActive="active">
          О нас
        </span>
        <span class="optim-menu__item" routerLink="" [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active">
          Услуги
        </span>
        <span class="optim-menu__item" routerLink="contact" routerLinkActive="active">
          Контакты
        </span>
      </div>
    </ng-template>
  </div>
</mat-toolbar>

<!--Content area-->
<div class="optim-content">
  <div class="optim-content__header">
    <h1>
      оптимизация финансовых решений для частных лиц, предпринимателей и компаний
    </h1>
  </div>
</div>
<router-outlet></router-outlet>

<!--Footer-->
<mat-toolbar color="primary" class="optim-footer">
  <div class="optim-footer__abstract-figure"></div>
  <div class="optim-footer__main-info">
    <div class="optim-footer__location">
      <a href="https://www.google.com/maps/place/Netanya,+Israel" target="_blank">
        <img src="assets/location.png" alt="Нетания, Израиль">
      </a>
    </div>
    <div class="optim-footer__schedule">
      <dt>График работы:</dt>
      <dt>Вс-Чт 9:00-20:00</dt>
      <dt>Пт 9:00-13:00</dt>
      <dt>Сб - Выходной</dt>
    </div>
    <div class="optim-footer__social-media">
      <div class="optim-footer__social-media-item">
        <a href="mailto:office@optim-fo.co.il">
          <fa-icon [icon]="['fas', 'mail-bulk']" size="2x"></fa-icon>
          <span>office@optim-fo.co.il</span>
        </a>
      </div>
      <div class="optim-footer__social-media-item">
        <a href="tel:+972 77-527-9557">
          <fa-icon [icon]="['fas', 'phone-square-alt']" size="2x"></fa-icon>
          <span>+972 77-527-9557</span>
        </a>
      </div>
      <div class="optim-footer__social-media-item">
        <a href="https://www.google.com/maps/place/Netanya,+Israel" target="_blank">
          <fa-icon [icon]="['fas', 'map-marked-alt']" size="2x"></fa-icon>
          <span>Израиль</span>
        </a>
      </div>
      <div class="optim-footer__social-media-item">
        <a href="https://www.facebook.com/IFamily.Office" target="_blank">
          <fa-icon [icon]="['fab', 'facebook-square']" size="2x"></fa-icon>
          <span>Свяжитесь с нами!</span>
        </a>
      </div>
    </div>
  </div>


  <div class="optim-licence">
    Icons made by <a href="https://www.flaticon.com/authors/ultimatearm" title="ultimatearm">ultimatearm</a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</mat-toolbar>
