@import '~@angular/material/theming';
@import "../styles/variables";
@import "../styles/media_queries_mixins";


.optim-header {
  justify-content: flex-end;
  padding-right: 0;
  color: white;

  &__mail {
    color: white;
  }

  &__phone {
    height: 100%;
    min-width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__mail {
    color: white;
    margin-right: 1px;
  }

  &__mail,
  &__phone-number-link,
  &__phone-link {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    background: white;

    button {
      line-height: normal;
      border-radius: 0;
      border: none;
    }
  }

  &__phone-link {
    width: 100%;
    max-width: 64px;
  }

  &__phone-number-link {
    width: 100%;
    background-color: unset;

    button {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      font-size: inherit;
    }
  }
}

.optim-menu {
  background-color: white;
  position: relative;
  height: auto;

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 16px;
    color: mat-color($primary) !important;
    z-index: 2;
    width: 100%;
  }

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 75%;
    height: 100%;
    background-position: right top;
    background-image: url("~src/assets/header.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }

  img {
    max-height: 100px;
  }

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__logo-text {
    padding-left: 5px;
    font-size: 60px;
    font-weight: lighter;
  }

  &__list {
    padding-right: 10px;
    display: flex;
  }

  &__item-xs {
    font-size: large;
    color: mat-color($primary);
    text-align: center;
  }

  &__item {
    outline: none;
    padding: 0 7px;
    cursor: pointer;

    &:not(:last-child) {
      border-right: 1px solid mat-color($primary);
    }
  }

  &__item,
  &__item-xs {
    &.active {
      color: mat-color($warn);
    }
  }
}

.optim-content {
  &__header {
    min-height: 300px;
    position: relative;
    background: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-image: url("~src/assets/buildings.webp");
      background-size: cover;
      opacity: 0.25;
      z-index: 1;
    }

    h1 {
      position: relative;
      z-index: 2;
      width: 50%;
      min-width: 350px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.optim-footer {
  padding: 0;
  display: block;
  position: relative;
  color: white;
  height: auto;
  font-size: inherit;
  align-items: normal;

  &__abstract-figure {
    height: 350px;
    background-color: #e7e7e7;
    position: relative;

    &:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-position: left bottom;
      background-image: url("~src/assets/footer.svg");
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 1;
    }
  }

  &__main-info {
    display: grid;
    grid-template-areas: "header info footer";
    grid-template-columns: 30% 40% 30%;
    padding: 20px;
    grid-column-gap: 10px;
  }

  &__location {
    height: 180px;
    text-align: right;
    grid-area: header;

    img {
      height: 100%;
      border-radius: 10px;
      border: 1px solid grey;
    }
  }

  &__social-media {
    grid-area: footer;
  }

  &__schedule {
    grid-area: info;
  }

  &__social-media-item {
    a {
      display: grid;
      grid-auto-flow: column;
      justify-content: stretch;
      align-items: center;
      padding: 0 0.75em;
      grid-template-columns: auto 1fr;
      column-gap: 10px;
      flex-direction: column;
      color: white;
    }
  }
}

/* Media queries */

@include media-breakpoint-down(md) {
  .optim-footer {
    &__abstract-figure {
      height: 275px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .optim-header__phone {
    min-width: unset;
  }
  .optim-menu__info {
    padding: 0;
  }
  .optim-footer {
    &__abstract-figure {
      height: 235px;
    }

    &__location {
      height: 200px;
      text-align: left;
    }

    &__main-info {
      grid-template-areas:
    "header ."
    "info footer";
      grid-template-columns: repeat(2, minmax(150px, 1fr));
      grid-template-rows: auto;
      row-gap: 20px;
    }
  }
}

@include media-breakpoint-down(s) {
  .optim-content {
    &__header {
      h1 {
        min-width: unset;
      }
    }
  }
  .optim-footer {
    &__abstract-figure {
      height: 95px;
    }

    &__location {
      height: 250px;
    }

    &__main-info {
      grid-column-gap: unset;
    }

    &__social-media-item {
      a {
        padding: 0;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .optim-menu {
    padding: 0 7px;
    &__info {
      img {
        max-height: 75px;
      }
    }
    &__logo-text {
      font-size: 40px;
    }
  }
  .optim-footer {
    &__abstract-figure {
      height: 75px;
    }

    &__location {
      height: 220px;
    }

    &__main-info {
      grid-template-areas: "header" "info" "footer";
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-template-rows: auto;
      row-gap: 20px;
    }
  }
}
