<mat-card class="optim-feedback__form">
  <mat-card-header>
    <div mat-card-avatar>
      <fa-icon [icon]="['fas', 'file-alt']" size="3x" class="optim-feedback__icon"></fa-icon>
    </div>
    <mat-card-title>
      Оставьте свою заявку
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div [formGroup]="contactForm">
      <div class="optim-feedback__form-row">
        <mat-form-field appearance="fill">
          <mat-label>Имя</mat-label>
          <input matInput placeholder="Ваше имя" formControlName="name">
          <mat-error *ngIf="contactForm.controls.name.hasError('required')">
            Имя является <strong>обязательным</strong> полем
          </mat-error>
        </mat-form-field>
      </div>
      <div class="optim-feedback__form-row">
        <label>Связаться с Вами по: </label>
        <mat-radio-group formControlName="contactType">
          <mat-radio-button color="primary" value="phone">номеру телефона</mat-radio-button>
          <mat-radio-button color="primary" value="email">email</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="optim-feedback__form-row">
        <mat-form-field appearance="fill" *ngIf="contactForm.controls.contactType.value === 'phone'; else emailInput">
          <mat-label>Номер телефона</mat-label>
          <input matInput formControlName="phone">
          <mat-error *ngIf="contactForm.controls.phone.hasError('pattern')">
            Пожалуйста, введите действующий телефонный номер
          </mat-error>
          <mat-error *ngIf="contactForm.controls.phone.hasError('required')">
            Номер телефона является <strong>обязательным</strong> полем
          </mat-error>
        </mat-form-field>

        <ng-template #emailInput>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="contactForm.controls.email.hasError('email')">
              Пожалуйста, введите действующий email
            </mat-error>
            <mat-error *ngIf="contactForm.controls.email.hasError('required')">
              Email является <strong>обязательным</strong> полем
            </mat-error>
          </mat-form-field>
        </ng-template>
      </div>

      <mat-form-field>
        <mat-label>Ваше сообщение</mat-label>
        <textarea matInput placeholder="Ваше сообщение" formControlName="message"></textarea>
      </mat-form-field>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="sendMessage()">Отправить</button>
  </mat-card-actions>
</mat-card>
