@import '~@angular/material/theming';
@import "../../../styles/variables";

mat-spinner {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

.loading {
  pointer-events: none;
  opacity: 0.5;
}

.optim-feedback {
  &__form {
    text-align: initial;
    max-width: 500px;

    .mat-form-field {
      width: 100%;
    }
    .mat-card-actions {
      margin: auto;
    }
  }

  &__form-row {
    width: 100%;
    margin-top: 15px;

    .mat-radio-group {
      margin-top: 10px;
      display: grid;
      row-gap: 10px;
    }
  }
}

.mat-card-header {
  align-items: center;
  color: mat-color($primary);

  .mat-card-title {
    margin: 0;
  }
}
