@import '~@angular/material/theming';
@import "../../../styles/variables";

.optim-feedback {
  &__form {
    margin: 20px auto;
    text-align: initial;
    max-width: 500px;

    .mat-form-field {
      width: 100%;
    }
  }

  &__form-row {
    width: 100%;
    margin-top: 15px;

    .mat-radio-group {
      margin-top: 10px;
      display: grid;
      row-gap: 10px;
    }
  }
}

.mat-card-header {
  align-items: center;
  color: mat-color($primary);

  .mat-card-title {
    margin: 0;
  }
}
